In [ ]:
import pandas as pd

# ساخت یک دیتافریم
data = {
    'Name': ['John', 'Anna', 'Peter', 'Linda', 'Mark'],
    'Age': [28, 35, 41, 29, 33],
    'Gender': ['Male', 'Female', 'Male', 'Female', 'Male'],
    'Salary': [50000, 60000, 75000, 45000, 70000]
}
df = pd.DataFrame(data)

In [ ]:
# نمایش دیتافریم
print("DataFrame:")
df

DataFrame:

    Name  Age  Gender  Salary
0   John   28    Male   50000
1   Anna   35  Female   60000
2  Peter   41    Male   75000
3  Linda   29  Female   45000
4   Mark   33    Male   70000

In [ ]:
# عملیات های اولیه
print("Basic Operations:")
print("Shape of DataFrame:", df.shape)
print("Column Names:", df.columns)
print("Data Types of Columns:")
print(df.dtypes)

Basic Operations:
Shape of DataFrame: (5, 4)
Column Names: Index(['Name', 'Age', 'Gender', 'Salary'], dtype='object')
Data Types of Columns:
Name      object
Age        int64
Gender    object
Salary     int64
dtype: object

In [ ]:
# نمایش دیتا
print("Accessing Data:")
print("First 3 Rows:")
print(df.head(3))
print()
print("Last 2 Rows:")
print(df.tail(2))

Accessing Data:
First 3 Rows:
    Name  Age  Gender  Salary
0   John   28    Male   50000
1   Anna   35  Female   60000
2  Peter   41    Male   75000

Last 2 Rows:
    Name  Age  Gender  Salary
3  Linda   29  Female   45000
4   Mark   33    Male   70000

In [ ]:
# نمایش بخش مشخصی از داده
print("Indexing and Selecting Data:")
print("Value in first row, second column:", df.iloc[0, 1])
print("Data in 'Age' column:")
print(df['Age'])
print("Rows where Age > 30:")
print(df[df['Age'] > 30])
print()

Indexing and Selecting Data:
Value in first row, second column: 28
Data in 'Age' column:
0    28
1    35
2    41
3    29
4    33
Name: Age, dtype: int64
Rows where Age > 30:
    Name  Age  Gender  Salary
1   Anna   35  Female   60000
2  Peter   41    Male   75000
4   Mark   33    Male   70000

In [ ]:
# تغییر داده
print("Data Manipulation:")
df['Bonus'] = df['Salary'] * 0.1  # Add a new column
print("Updated DataFrame with Bonus Column:")
print(df)

Data Manipulation:
Updated DataFrame with Bonus Column:
    Name  Age  Gender  Salary   Bonus
0   John   28    Male   50000  5000.0
1   Anna   35  Female   60000  6000.0
2  Peter   41    Male   75000  7500.0
3  Linda   29  Female   45000  4500.0
4   Mark   33    Male   70000  7000.0

In [ ]:
# گروه بندی
print("Grouping and Aggregation:")
grouped = df.groupby('Gender')
print("Average Salary by Gender:")
print(grouped['Salary'])
print()

Grouping and Aggregation:
Average Salary by Gender:
<pandas.core.groupby.generic.SeriesGroupBy object at 0x7f27823deb90>

In [ ]:
# رفع و رجوع داده های پوچ
print("Handling Missing Values:")
df.loc[1, 'Age'] = None  # Introduce a missing value
print("DataFrame with Missing Values:")
print(df)
print()
print("DataFrame after Filling Missing Values:")
print(df.fillna(df.Age.mean()))

Handling Missing Values:
DataFrame with Missing Values:
    Name   Age  Gender  Salary   Bonus
0   John  28.0    Male   50000  5000.0
1   Anna   NaN  Female   60000  6000.0
2  Peter  41.0    Male   75000  7500.0
3  Linda  29.0  Female   45000  4500.0
4   Mark  33.0    Male   70000  7000.0

DataFrame after Filling Missing Values:
    Name    Age  Gender  Salary   Bonus
0   John  28.00    Male   50000  5000.0
1   Anna  32.75  Female   60000  6000.0
2  Peter  41.00    Male   75000  7500.0
3  Linda  29.00  Female   45000  4500.0
4   Mark  33.00    Male   70000  7000.0

In [ ]:
# ترکیب دیتافریم ها
print("Merging DataFrames:")
df1 = pd.DataFrame({'ID': [1, 2, 3], 'Name': ['John', 'Anna', 'Peter']})
df2 = pd.DataFrame({'ID': [2, 3, 4], 'Salary': [60000, 75000, 80000]})
merged_df = pd.merge(df1, df2, on='ID')
print("Merged DataFrame:")
print(merged_df)

Merging DataFrames:
Merged DataFrame:
   ID   Name  Salary
0   2   Anna   60000
1   3  Peter   75000

In [ ]:
# چند تکنیک دیگر( pivot tables, stacking/unstacking, reshaping)
print("Advanced Techniques:")
pivot_table = df.pivot_table(index='Gender', columns='Name', values='Salary')
print("Pivot Table:")
print(pivot_table)
print()

Advanced Techniques:
Pivot Table:
Name       Anna     John    Linda     Mark    Peter
Gender
Female  60000.0      NaN  45000.0      NaN      NaN
Male        NaN  50000.0      NaN  70000.0  75000.0

In [ ]:
# ذخیره داده
print("Exporting Data:")
df.to_csv('data.csv', index=False)
print("DataFrame exported to data.csv")

Exporting Data:
DataFrame exported to data.csv

تست با داده ی واقعی

In [7]:
import pandas as pd

# Load the Excel file
file_path = '/content/BTCUSDTNewsSA.xlsx'  # Replace with your file path
df = pd.read_excel(file_path,usecols=('Date','title'))

In [8]:

df['Date'] = pd.to_datetime(df['Date'])

In [9]:

# گروهبندی با زمانبندی های مختلف
# هفته
weekly_data = df.groupby(pd.Grouper(key='Date', freq='W-SUN')).sum()  # Group by week starting on Sunday

In [10]:
# ماه
monthly_data = df.groupby(pd.Grouper(key='Date', freq='M')).sum()  # Group by month

In [12]:
# سال
yearly_data = df.groupby(pd.Grouper(key='Date', freq='Y')).sum()  # Group by year

In [13]:

# روز
daily_data = df.groupby(pd.Grouper(key='Date', freq='D')).sum()  # Group by day

In [11]:


print("Weekly Data:")
print(weekly_data)

Weekly Data:
                                                        title
Date
2020-06-28  Here’s Why Bitcoin is Likely to See Historic V...
2020-07-05  Bitcoin Holds Bullish On Key Technical Indicat...
2020-07-12  Here’s Why the Chinese Stock Market’s Rally Mi...
2020-07-19  Institutional Traders Remain Bearish on Bitcoi...
2020-07-26  It’s “Open Air” for Bitcoin Down to $7,000 as ...
...                                                       ...
2022-02-13  First Mover Asia: Bitcoin Sees little movement...
2022-02-20  First Mover Asia: Bitcoin inches upward in Sun...
2022-02-27  Top 5 cryptocurrencies to watch this week: BTC...
2022-03-06  Bitcoin Price Analysis: BTC/USD sellers approa...
2022-03-13  TA: Bitcoin Resumes Decline, Why BTC Could Rev...

[90 rows x 1 columns]

In [14]:

print("\nMonthly Data:")
print(monthly_data)

Monthly Data:
                                                        title
Date
2020-06-30  Here’s Why Bitcoin is Likely to See Historic V...
2020-07-31  Bitcoin Flirts with Posting a Bull Cross as Cr...
2020-08-31  Crypto Tidbits: Bitcoin Explodes Past $11k, Et...
2020-09-30  Ethereum Wrapped Bitcoin Supply Doubles In Aug...
2020-10-31  Bitcoin Is Holding a Support That Stretches Ba...
2020-11-30  Here are 4 Reasons Why One Analyst is Shorting...
2020-12-31                                                  0
2021-01-31  Cryptocurrencies Price Prediction: Bitcoin, Da...
2021-02-28  Ripple Price Analysis: XRP/USD consolidates re...
2021-03-31  Cryptocurrencies Price Prediction: Ripple, Bit...
2021-04-30  South Korea to issue blockchain-protected digi...
2021-05-31  VeChain Price Prediction: VET coils up for 23%...
2021-06-30  Polkadot Price Prediction: DOT indecisive, exp...
2021-07-31  SafeMoon Price Forecast: SAFEMOON appears deci...
2021-08-31  Bear Market Over? Why Bitcoin Could Soar To $4...
2021-09-30  3 reasons why Polkadot could be the next altco...
2021-10-31  DeFi and DEX volumes soar amid China's crypto ...
2021-11-30  Maturing Bitcoin ($BTC USD) Means Rallies With...
2021-12-31  MicroStrategy Follows El Salvador’s Lead As It...
2022-01-31  MicroStrategy Remains One Step Ahead With $94M...
2022-02-28  The Uber Rich Investors Are Picking This Altco...
2022-03-31  BitMEX co-founder must face criminal trial in ...

In [15]:

print("\nYearly Data:")
print(yearly_data)

Yearly Data:
                                                        title
Date
2020-12-31  Here’s Why Bitcoin is Likely to See Historic V...
2021-12-31  Cryptocurrencies Price Prediction: Bitcoin, Da...
2022-12-31  MicroStrategy Remains One Step Ahead With $94M...

In [16]:

print("\nDaily Data:")
print(daily_data)

Daily Data:
                                                        title
Date
2020-06-23  Here’s Why Bitcoin is Likely to See Historic V...
2020-06-24  Brazil’s Shutdown of WhatsApp Pay May Spark Bi...
2020-06-25  Will PlusToken Moving $458M Worth of Crypto Sp...
2020-06-26  Why Bitcoin’s Network Activity Is Suggesting t...
2020-06-27  $20 Million in BitMEX Longs Wiped as Bitcoin C...
...                                                       ...
2022-03-08  Bitcoin steadies as gold hits $2K, US dollar s...
2022-03-09  How to navigate cryptocurrency tax implication...
2022-03-10  War, Inflation, & Geopolitical Tensions Bring ...
2022-03-11  Cryptocurrencies Price Prediction: Terra, MATI...
2022-03-12  U.S. Treasury Department stresses that Russia ...

[628 rows x 1 columns]